/thread_wrapper/Debug
/thread_wrapper/thread_wrapper.sln
/ipch/test_wrappers-b6839843
/test_wrappers/Debug
/test_wrappers/*.filters
/vector_wrapper/Debug
/vector_wrapper/*.filters
/*.sdf
/*.suo
/thread_wrapper/*.filters
/*.opensdf
/bin/Debug/*.tlog
/bin/Debug/*.obj
/bin/Debug/*.idb
/wrappers/Debug/*.ilk
/wrappers/Debug/*.obj
/wrappers/Debug/*.idb
/wrappers/Debug/*.exe
/wrappers/Debug/*.log
/bin/Debug/*.log
*.ipch
*.pdb
*.lastbuildstate
*.pch
*.filters
*.tlog
